<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Your pairs
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <% @pairs_by_date.each do |pair| %>
            <div class="row">
              <div class="col-md-7">
                <% if current_user.admin == false && (pair.day.to_date.past? || pair.day.today?) %>
                  <tr>
                    <td>
                      <%= pair.student.name %> and <%= pair.match.name %>
                    </td>
                    <td>
                      <%= pair.day.strftime("%d %B %Y") %>
                    </td>
                  </tr>
                <% elsif current_user.admin == true %>
                  <tr>
                    <td>
                      <%= pair.student.name %> and <%= pair.match.name %>
                    </td>
                    <td>
                      <%= pair.day.strftime("%d %B %Y") %>
                    </td>
                  </tr>
                <% end %>
              </div>
            </div>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <% if current_user.admin == false %>
      <div>
        <h1>Today it is <%=Time.now.strftime("%d %B %Y")%></h1>
        <h3>Find your pair! <%#= @pairs.find(day: Date.today) %></h3>
      </div>
    <% end %>
    <br><br>
    <% if current_user.admin == true %>
      <%= link_to "Add new pair", new_pair_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
