<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Your pairs
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <% @pairs.each do |pair| %>
            <div class="row">
              <div class="col-md-7">
                <tr>
                  <td>
                    <%= pair.student.name %> and <%= pair.match.name %>
                  </td>
                  <td>
                    <%= pair.day.strftime("%d %B %Y") %>
                  </td>
                </tr>
              </div>
            </div>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div>
      <h1>Today it is <%=Time.now.strftime("%d %B %Y")%></h1>
      <h3>Your pair for today is: </h3>
    </div>
    <br><br>

    <%= link_to "Add new pair", new_pair_path, class: "btn btn-primary" %>
  </div>
</div>
