<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Your users
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-7">
            <table class="table table-striped">
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <span><%= user.name %></span>
                  </td>
                  <td>
                    <span><%= user.admin == true ? "Admin" : "Student" %></span>
                  </td>
                  <td>
                    <% if user.admin? %>
                      <%= form_for user do |f| %>
                        <%= f.hidden_field :admin, value: false %>
                        <%= f.submit 'Make student' %>
                      <% end %>
                    <% else %>
                      <%= form_for user do |f| %>
                        <%= f.hidden_field :admin, value: true %>
                        <%= f.submit 'Make admin' %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
          <div class="col-md-3 right">
          </div>
        </div>

      </div>
    </div>

    <%= link_to "Back to pairs", pairs_path, class: "btn btn-primary" %>
  </div>
</div>
